<head>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>

    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'DYwJyYOzV2XaOmycqeFnmGca-gzGzoHsz',
            appKey: 'VtOPOa1OFWDOP1P2xYW82SvE',
            // avatar:'' // (''/mp/identicon/monsterid/wavatar/robohash/retro/hide)
            avatar:'robohash',
             visitor: true // 阅读量统计
        })
    </script>
